$whiteColor: #fff;
$whiteSmoke: #e2e9dc;
$primaryColor: #356abc;
$yellow: #ffcb05;
$blueColor: #285bb6;
$background: #6ecaf1;
$background2: #1a8bd9;
$lightRed: #dbadad;
$darkRedColor: #da0f13;
$blackColor: #000000;
$blackColor2: #0c0909;
$blackColor3: #241f1f;
$purple: #6859c8;
