@use '../../scss/colors.scss' as color;
.logout {
    position: fixed;
    width: 90px;
    height: 90px;
    bottom: 10px;
    right: 10px;
    background-color: color.$whiteSmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid color.$background2;
    box-shadow:
        -1px 1px color.$blackColor3,
        -2px 2px color.$blackColor3,
        -3px 3px color.$blackColor3,
        -4px 4px color.$blackColor3,
        -5px 5px color.$blackColor3;
    background-image: url('/img/shut-down.svg');
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}
